.task-card {
    &.red-theme {
        background-color: #ffe5e0;
        border-color: #d17a5c;
        .task-card-header {
            background-color: #ffad99;
        }
    }
    &.green-theme {
        background-color: #e6f9e6;
        border-color: #8bc48b;
        .task-card-header {
            background-color: #a3d9a3;
        }
    }
    &.blue-theme {
        background-color: #e0f7fa;
        border-color: #5ca9b8;
        .task-card-header {
            background-color: #7fcbd1;
        }
    }
    &.indigo-theme {
        background-color: #f0e6ff;
        border-color: #9b7bbd;
        .task-card-header {
            background-color: #b89ed6;
        }
    }
}
